%div{:style => "width:940px;margin:0 0 40px 0"}
  .slider-wrapper.theme-default>
    .ribbon
    #ttlslider.nivoSlider{:style => "width: 940px;height:350px"}
      = image_tag('/images/slideshow/008.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/020.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/056.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/059.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/060.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/063.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/064.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/074.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/112.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/120.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/130.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/141.jpg', :alt => "", :width => "940", :height => "350")
      %span{:style => "position:absolute;top:355px;right: 0;font-size: 10px"} Photography by <a href="http://www.danielmphotography.com" style="display:inline">Daniel Morris</a>